* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #e5e5e5;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}

.page-header {
  background: url(../img/header.png) no-repeat 0 0;
  padding: 36px 100px 168px 100px;
}

.menu-navigation {
  display: grid;
  grid-template-columns: 90px 1fr;
  column-gap: 90px;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: #533738;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.05);
  text-decoration: underline;
  text-shadow: 5px 10px 20px #533738;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  list-style-type: none;
}

.navigation-item {
  display: block;
  text-decoration: none;
  color: #533738;
  margin: 0;
  padding: 5px;
  transition: 0.3s;
}

.navigation-item:hover {
  transform: scale(1.05);
  text-decoration: underline;
  text-shadow: 5px 10px 20px #533738;
}

.header-heading {
  box-sizing: border-box;
  width: 535px;
  margin-top: 90px;
  margin-left: 84px;
}

.header-heading h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
  margin-bottom: 25px;
}

.header-heading p {
  box-sizing: border-box;
  width: 493px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  margin-bottom: 20px;
}

.button {
  width: 310px;
  box-sizing: border-box;
  display: block;
  background: #cc8b86;
  outline: none;
  padding: 25px 65px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 20px #533738;
}

.about {
  background: #efe6e4;
  padding: 65px 182px 20px 182px;
}

.about-header h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
  margin-bottom: 40px;
}

.about-us {
  display: grid;
  grid-template-columns: 445px 1fr;
  column-gap: 63px;
}

.about-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.about-text p:first-child {
  margin-bottom: 30px;
}

.our-profit {
  background: #8d7370;
  padding: 85px 180px 80px 182px;
}

.profit {
  display: flex;
  justify-content: space-between;
}

.achiv {
  text-align: center;
}

.achiv span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  margin-bottom: 8px;
}

.achiv p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}

.our-works {
  background: #efe6e4;
  padding: 65px 100px;
}

.works-header h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
  margin-bottom: 40px;
}

.work-list {
  display: grid;
  grid-template-columns: 488px 1fr;
  grid-auto-flow: dense;
  row-gap: 30px;
  column-gap: 20px;
}

.work-item {
  list-style-type: none;
  position: relative;
}

.work-item-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 86px 35px 122px 35px;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.5s;
}

.work-item-hover h2 {
  width: 270px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.work-item-hover p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.work-item:hover .work-item-hover {
  background: rgba(100, 72, 69, 0.8);
  opacity: 1;
}

.work-item:nth-child(3) {
  margin-right: auto;
}

.work-item:last-child {
  margin-left: auto;
}

.work-button {
  width: 295px;
  margin-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

.work-button a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}

.work-button a::after {
  content: url(../img/Arrow3.png);
  margin-left: 10px;
}

.work-button:hover {
  transform: scale(1.05);
  text-shadow: 5px 10px 20px #533738;
}

.work-button a::after:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 20px #533738;
}

.our-team {
  background-color: #e2c4ba;
  padding: 50px 100px 80px 100px;
}

.team-heading {
  text-align: center;
  margin-bottom: 40px;
}

.team-heading h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}

.person {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  column-gap: 38px;
  margin-left: 80px;
}

.person-1 img {
  margin-bottom: 10px;
}

.person-1 p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.how-we-work {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}

.how-we-work h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}

.how-we-work-steps {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.steps {
  margin-right: 20px;
  width: 285px;
}

.steps:last-child {
  margin-right: 0;
}

.steps span {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #8d7370;
  color: #fff;
  margin: auto;
}

.steps p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.reviews {
  padding-top: 65px;
  padding-bottom: 65px;
  background: #efe6e4;
}

.reviews-heading {
  text-align: center;
  margin-bottom: 40px;
}

.reviews-heading h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}

.review {
  display: flex;
  width: 1036px;
  margin: auto;
}

.review-button {
  width: 72px;
  height: 72px;
  border: none;
  background-color: #efe6e4;
  align-self: center;
  margin-right: 29px;
  transition: 0.3s;
  outline: none;
  border-radius: 50%;
}

.review-button:last-of-type {
  margin-right: 0;
  margin-left: 29px;
}

.review-button:hover {
  transform: scale(1.05);
  box-shadow: 5px 10px 20px #533738;
}

.review-text {
  margin-right: 20px;
  align-self: center;
}

.review-text p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  margin-bottom: 30px;
}

.author {
  margin-bottom: 0;
}

.review-image:first-child {
  margin-bottom: 25px;
}

.callback {
  background: #8d7370;
}

.callback-form-map {
  display: grid;
  grid-template-columns: 1fr auto;
}

.callback-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 180px;
  margin-right: 20px;
}

.callback-form h1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}

.callback-form p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 45px;
}

input {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #f6ede9;
  margin-bottom: 35px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

input::placeholder {
  color: #f6ede9;
}

input:focus::placeholder {
  color: transparent;
}

.map {
  margin-right: 100px;
}

.page-footer {
  background: #efe6e4;
  padding: 37px 100px 37px 100px;
}

.contacts {
  display: flex;
}

.contacts p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}

.contacts-phone {
  margin-right: 42px;
}

.contacts-owner {
  margin-left: auto;
}
